body.window {
    background-color: rgb(54, 54, 54);
}

/* ヘッダーレイアウト */
header {
    height: auto;
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 7%, 0.3);
    background: rgb(54, 54, 54);
    border-bottom: 1px solid #f0f0f0;
}
#header-title{
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    font-size: x-large;
}
.logo{
    height: 80px;
    margin: 10px;
    padding: 10px;
}
#header-nav ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
}
#header-nav ul li{
    display: inline-block;
    background: rgb(54, 54, 54);
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: large;
    padding: 10px 0;
    border-left: 1px solid #f0f0f0;
}
#header-nav ul li a{
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}

/* 全体描画 */
#frame {
    border: 10px solid rgb(54, 54, 54);
    background-color: rgb(54, 54, 54);
    height: 100%;
}

#title {
    text-align: center;
    color: #f0f0f0 !important;
}
#canvas-frame{
    margin: auto;
}
#gameCanvas{
    margin : auto;
    display: block; background: #000;
}
#gamebarCanvas{
    margin : auto;
    display: block; background: #868686;
}