body.window{
    background-color: rgb(54, 54, 54);
}

/* ヘッダーレイアウト */
header {
    height: 62px;
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 7%, 0.3);
    background: rgb(54, 54, 54);
    border-bottom: 1px solid #f0f0f0;
}
#header-title{
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    font-size: x-large;
}
.logo{
    height: 80px;
    margin: 10px;
    padding: 10px;
}
#header-nav ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
}
#header-nav ul li{
    display: inline-block;
    background: rgb(54, 54, 54);
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: large;
    padding: 10px 0;
    border-left: 1px solid #f0f0f0;
}
#header-nav ul li a{
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}

/* 全体画面 */
#frame {
    /* border: 10px solid rgb(54, 54, 54); */
    margin : 20px 10px;
    height: 450px;
}
h5{
    text-align:center; 
    color: #f0f0f0 !important;
    margin-bottom: 0 !important;
}

/* 描画画面のレイアウト */
#drawer{
    background-color: rgb(255, 255, 255);
    background-image: 
    linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    margin: 10px 0 0 0;
    /* border: 10px solid rgba(219, 183, 2, 1); */
}
#canvas{
    margin: 8% auto;
}
td{
    height: 100px;
    width: 57px;
    padding: 0;
}
.body-item{
    height: 210px;
}
.canvas-items{
    height: 100%;
}

#right-arms-img{
    transform:scale(-1,1);
}
#right-legs-img{
    transform:scale(-1,1);
}

/* アイテムサイドバーのレイアウト */
#sidebar{
    width : 300px;
    background: rgb(54, 54, 54);
    padding: 0px 5px;
}
/* アイテム設定のレイアウト */
.carousel-parts{
    /* height: 22%; */
    border: 1px solid rgb(201, 201, 201);
    background-color: rgb(243, 243, 243);
    padding: 0px 0px 14px 0px;
    margin: 10px;
}
#parts{
    height: 70px;
    margin: auto;
    display: block;
}

/* パラメータサイドバーのレイアウト */
#param-bar{
    width : 300px;
    background: rgb(54, 54, 54);
}
/* グラフのレイアウト */
#paramChart{
    /* position: relative; */
    display: block;
    box-sizing: border-box;
    box-sizing: content-box;
    border: 1px solid rgb(201, 201, 201);
    overflow: hidden;
    height: 292px !important;
    width: 300px !important;
    margin:10px 0 18px 0;
    padding: 10px;
}
#commit-bar{
    background: rgb(54, 54, 54);
    height: 10%;
    width: 100%;
}
#commit{
    width: 100%;
    height: 107px;
    margin: auto 0;
    background-color: rgba(219, 183, 2, 0.9);
    font-size: 200%;
}